@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin button ($color-btn, $background-color-btn) {
  padding: 10px 12px;
  width: 100%;
  font-family: $secondary-fonts;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-btn;
  background-color: $background-color-btn;
  border: none;
}

@mixin icon ($icon-image) {
  content: " ";
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: $brand-color;
  background-image: $icon-image;
  background-position: center;
  background-size: 30px 32px;
  background-repeat: no-repeat;
}
