.burger-button {
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("../../images/icons/stack.svg#menu-burger");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
