.contacts-info-wrap {
  position: relative;
  display: flex;
  width: 280px;
  gap: 13px;
}

.contacts-info-wrap--email::after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  mask-image: url("../../images/icons/stack.svg#email-stroke");
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $black;
  left: 256px;
  bottom: 13px;
}


.contacts-info-wrap--tel::after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  mask-image: url("../../images/icons/stack.svg#phone-stroke");
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $black;
  left: 256px;
  bottom: 13px;
}
