.main-input {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 39px;
  flex-grow: 1;
}
