.text {
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  margin: 0;
}

.text--max {
  font-family: $secondary-fonts;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
